/*
 * CSS File for the solution
 * Tutorial 04
 * Step 03
 * Instructions are in the comments below
 */

 .flex-container {
  height: 600px;

  /* 1. Add a display flex property so the items are layed out in a row */

  /* 2. Add a flex direction property so that the flex box is set to column and reverse */

  /* 3. Add a justify-content property and set it to start */

  /* 4. Use the align-items property to move the box to the center */
}

.item:nth-child(2) {
  background-color: #f1faee;
  color: #242121;

  /* 5. Use the flex-grow property to make the second box grow to fill the remaining space */
}


/*
 * YOU ARE DONE WITH THIS FILE
 * DONT MODIFY THE CODE
 * BELOW THIS LINE
 */

.flex-container {
  border: 1px solid #f1faee;
  border-radius: 10px;
}

.item {
  width: 100%;
  text-align: center;
  padding: 40px;
  margin: 0px;
  text-align: center;
  border-radius: 10px;

  background-color: #1d3557;
}

.item:first-child{
  margin-left: 0px;
}

.item:last-child {
  background-color: #e63946;
  margin-right: 0px;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

/* Styles for the body */
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f1faee;
  color: #242121;
  font-size: 1.5rem;
  line-height: 1.6;

  min-width: 100%;
  min-height: 100%;

  /* Flex directives */
  display: flex;
  flex-direction: column;
  justify-content:space-between;
  align-items: stretch;
}

/* The first item in the flex container will be the header */
header {
  background-color: #e63946;
  color: #ffffff;

  /* Flex directives */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header h2 {
  text-align: center;
  font-size: 1.2rem;
  margin: 0;
  padding: 1rem;
}

/* The second item in the flex container will be the main content */
main {
  /* Grow to fill the remaining space */
  flex: 1;

  /* Create a nested flex container */
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* Styles for the box inside main */
main .box-container {

  padding: 50px;
  width: 500px;
  max-width: 80%;
  margin: 0 auto;
  background-color: #457b9d;
  color: #f1faee;
  border-radius: 20px;
  box-shadow: #315a72 0px 8px 40px;
}

/* Styles for the headings */
main h1 {
  font-size: 1.5rem;
  margin: 0 0 1rem 0;
  color: #f5f5f5;
}

footer {
  padding: 1rem;
  background-color: #1d3557;
  color: #f1faee;
  font-size: 0.9rem;
  text-align: center;
}
